<!DOCTYPE html>
<html lang="ka">
<head>
  {%- if config.webserver_sends_csp_headers %}
  {%- include "security_tags.html" ignore missing %}
  {%- endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ქართული ბლოგი - იოტი">
  <meta name="keywords" content="ქართული ბლოგი, მხატვრული, ჩანაწერები, წერილები">
  <meta property="og:locale" content="ka_GE">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ config.title }}">
  {% include "favicon.html" ignore missing -%}
  <title>{%- block title %}{{ config.title }}{%- endblock %}</title>
  {% include "seo_tags.html" ignore missing -%}
  <meta name="referrer" content="strict-origin-when-cross-origin">
  {%- if config.generate_feeds %}
  {% block rss -%}
  <link rel="alternate" type={% if config.extra.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.extra.feed_filename | default(value="atom.xml")) | safe }}">
  {%- endblock -%}
  {%- endif %}
  <style>
  {% include "style.css.html" ignore missing %}
  </style>
  {% if config.extra.custom_css %}
    {% for css_file in config.extra.custom_css %}
  <link rel="stylesheet" href="{{ get_url(path=css_file) | safe }}">
    {% endfor %}
  {% endif %}
  {%- include "custom_head.html" ignore missing %}
</head>
<body>
  {% include "header.html" ignore missing %}
  {%- block main -%}{%- endblock -%}
  {%- include "footer.html" ignore missing -%}
  {%- include "custom_body.html" ignore missing -%}
</body>
</html>
